<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marta.bookapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookApp">
        <activity
            android:name=".BusquedaActivity"
            android:exported="true" />
        <activity
            android:name=".ResumenUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".LibroAddActivity"
            android:exported="true" />
        <activity
            android:name=".EstadoPendientesActivity"
            android:exported="true" />
        <activity
            android:name=".UsuarioScanActivity"
            android:exported="true" />
        <activity
            android:name=".AdminUsuariosActivity"
            android:exported="true" />
        <activity
            android:name=".EscaneoActivity"
            android:exported="true" />
        <activity
            android:name=".AdminLibrosActivity"
            android:exported="true" />
        <activity
            android:name=".AdminMenuActivity"
            android:exported="true" />
        <activity
            android:name=".AdminPeticionesActivity"
            android:exported="true" />
        <activity
            android:name=".AdminPrestamosActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDonacionesActivity"
            android:exported="true" />
        <activity
            android:name=".NuevaDonacionActivity"
            android:exported="true" />
        <activity
            android:name=".DonacionesActivity"
            android:exported="true" />
        <activity
            android:name=".PrestamosActivity"
            android:exported="true" />
        <activity
            android:name=".ListadoDispActivity"
            android:exported="true" />
        <activity
            android:name=".CursosActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPassActivity"
            android:exported="true" />
        <activity
            android:name=".DatosPersonalesActivity"
            android:exported="true" />
        <activity
            android:name=".PeticionesActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrarActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>